@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --ff: "Inter", sans-serif;
  --h1: bold 1.125rem/1.4em var (var(--ff));
  --h2: bold 1rem/1.4em var (var(--ff));
  --p: 1rem/1.4em var (var(--ff));
  --p2: 0.875rem/1.4em (var(--ff));

  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 50%);
  --color-tertiary: hsl(0, 0%, 10%);
  --color-accent: hsl(0, 0%, 70%);
  --color-background: hsl(0, 0%, 0%);
}

.light {
  --color-primary: hsl(0, 0%, 0%);
  --color-secondary: hsl(0, 0%, 50%);
  --color-tertiary: hsl(0, 0%, 90%);
  --color-accent: hsl(0, 80%, 80%);
  --color-background: hsl(0, 0%, 100%);
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: var(--ff);
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-primary);
  font-family: var(--ff);
  text-decoration: none;
}
